@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  height: min-content;
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #1E1E1E;
  background-image: url("/img/desktop/purple-light.png"), url("/img/desktop/red-light.png");
  background-repeat: no-repeat;
  background-position: 100% 0, 0 0;
  background-size: auto, auto;
  color: #E4E5EA;
}

header,
section,
footer {
  position: relative;
  z-index: 10;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.background-element {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.background-element__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.background-element__container {
  height: 100%;
}

.purple-light {
  position: fixed;
  left: 25%;
  top: 0%;
  z-index: 1;
}

.purple-ball {
  position: absolute;
  left: 62%;
  top: 0%;
  z-index: 1;
}
.purple-ball-mobile {
  display: none;
}

.red-ball {
  position: absolute;
  left: 31.3%;
  top: 72px;
  z-index: 1;
}
.red-ball-mobile {
  display: none;
}

.red-small-ball {
  position: absolute;
  left: 60%;
  top: 536px;
  z-index: 1;
}

.header {
  padding: 61px 0;
}
.header__desktop {
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
}
.header__info {
  display: flex;
  flex-direction: column;
  max-width: 140px;
}
.header__logo {
  margin-bottom: 6px;
}
.header__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}
.header__right {
  display: flex;
}
.header__tel {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}
.header__socials {
  width: 116px;
  margin-left: 48px;
}
.header__mobile {
  display: none;
}

.navbar {
  margin-left: 24px;
}
.navbar__list {
  display: flex;
}
.navbar__item {
  margin-left: 30px;
}
.navbar__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}

.main {
  padding: 29px 0 126px;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
}
.main__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}
.main__grad {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
.main__right {
  display: flex;
  padding-top: 17px;
  flex-direction: column;
  align-items: flex-end;
  max-width: 330px;
}
.main__right_mobile {
  display: none;
}
.main__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin-bottom: 40px;
}
.main__subtitle span {
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gifts {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.gifts__item {
  max-width: 135px;
  margin: 0 0 30px 30px;
}
.gifts__name {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.gifts__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.button {
  padding: 21px 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: #4077F3;
  color: #E4E5EA;
}

.footer {
  padding-bottom: 20px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
}
.footer__column:nth-child(1) {
  margin-right: 96px;
}
.footer__column:nth-child(2) {
  margin-right: 53px;
}
.footer__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
  margin-bottom: 20px;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__item_mobile {
  display: none;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.footer__tel {
  display: inline-block;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}
.footer__socials {
  width: 94px;
  margin-bottom: 20px;
}
.footer__address {
  margin-bottom: 68px;
  font-size: 16px;
  line-height: 19px;
}
.footer__rights {
  margin-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 15px;
}
.footer__privacy {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #E4E5EA;
}

.footer {
  padding-bottom: 20px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
}
.footer__column:nth-child(1) {
  margin-right: 96px;
}
.footer__column:nth-child(2) {
  margin-right: 53px;
}
.footer__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
  margin-bottom: 20px;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__item_mobile {
  display: none;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.footer__tel {
  display: inline-block;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}
.footer__socials {
  width: 94px;
  margin-bottom: 20px;
}
.footer__address {
  margin-bottom: 68px;
  font-size: 16px;
  line-height: 19px;
}
.footer__rights {
  margin-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 15px;
}
.footer__privacy {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #E4E5EA;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header {
    padding: 15px 0 25px;
    background-color: #1E1E1E;
  }
  .header__desktop {
    margin-bottom: 5px;
  }
  .header__text {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .header__mobile {
    display: flex;
    justify-content: center;
  }
  .navbar {
    margin-left: 0;
    display: none;
  }
  .navbar__item:first-child {
    margin-left: 0;
  }
  .navbar_mobile {
    display: flex;
  }
  .red-ball {
    left: 46.3%;
    top: 72px px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__left {
    margin-bottom: 20px;
  }
  .footer__right {
    align-items: flex-start;
    text-align: left;
  }
  .red-ball {
    left: 31.3%;
    top: 391px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .main__wrapper {
    flex-wrap: wrap;
  }
  .main__left {
    margin-bottom: 40px;
  }
  .main__subtitle {
    text-align: left;
  }
  .main__right {
    align-items: flex-start;
    max-width: 100%;
  }
  .gifts {
    justify-content: flex-start;
  }
  .gifts__item {
    max-width: 135px;
    margin: 0 30px 30px 0px;
  }
  .gifts__name {
    text-align: left;
  }
  .gifts__text {
    text-align: left;
  }
  .red-ball {
    left: 70.3%;
    top: 99px;
  }
}
@media (max-width: 576px) {
  body {
    background-image: url("/img/mobile/purple-light-mobile.png"), url("/img/desktop/red-light.png");
    background-position: right 0, 0 0;
  }
  .container {
    max-width: 90%;
  }
  .header {
    padding: 20px 0;
  }
  .header__desktop {
    display: none;
  }
  .header .navbar_mobile {
    width: 100%;
  }
  .header .navbar__list {
    width: 100%;
    justify-content: space-between;
  }
  .header .navbar__item {
    margin-left: 0;
    text-transform: uppercase;
  }
  .header .navbar__item a {
    font-size: 12px;
    line-height: 15px;
  }
  .header .navbar__item:last-child {
    display: none;
  }
  .main {
    padding: 38px 0 10px;
    background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%);
    backdrop-filter: blur(7.5px);
  }
  .main__title {
    margin-bottom: 17px;
    font-size: 36px;
    line-height: 44px;
  }
  .main__left {
    margin-bottom: 29px;
  }
  .main__grad {
    font-size: 36px;
    line-height: 44px;
  }
  .main__right {
    display: none;
    max-width: 330px;
  }
  .main__right_mobile {
    display: flex !important;
  }
  .main__subtitle {
    margin-bottom: 18px;
  }
  .main__subtitle span {
    font-weight: 700;
    text-transform: inherit;
    letter-spacing: inherit;
  }
  .gifts__name {
    position: relative;
    width: 150px;
    padding-left: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  .gifts__name::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 9px;
    height: 1px;
    background: linear-gradient(to right, rgb(252, 176, 69), rgb(253, 29, 29));
  }
  .gifts__item {
    max-width: 118px;
    margin: 0 9px 9px 0px;
  }
  .gifts__text {
    display: none;
  }
  .footer {
    background-color: #1E1E1E;
    padding: 41px 0 60px;
  }
  .footer__left {
    flex-wrap: wrap;
  }
  .footer__name {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__link {
    font-size: 14px;
    line-height: 17px;
  }
  .footer__column:nth-child(1) {
    width: 100%;
    margin-bottom: 23px;
  }
  .footer__column:nth-child(2) {
    width: 50%;
    padding-right: 20px;
    margin-right: 0;
    margin-bottom: 0px;
  }
  .footer__column:nth-child(3) {
    width: 50%;
    padding-left: 3px;
    padding-right: 20px;
    margin-right: 0;
    margin-bottom: 0px;
  }
  .footer__item_mobile {
    display: block;
  }
  .footer__item_desktop {
    display: none;
  }
  .footer__tel {
    margin-bottom: 11px;
  }
  .footer__socials {
    margin-bottom: 10px;
  }
  .footer__address {
    margin-bottom: 51px;
    font-size: 14px;
    line-height: 17px;
  }
  .footer__rights {
    margin-bottom: 5px;
  }
  .purple-ball {
    display: none;
  }
  .purple-ball-mobile {
    position: absolute;
    right: -6%;
    top: 268px;
    display: block;
    z-index: 1;
  }
  .red-ball {
    display: none;
  }
  .red-ball-mobile {
    position: absolute;
    left: 2%;
    top: 448px;
    display: block;
    z-index: 1;
  }
}/*# sourceMappingURL=style.css.map */